.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index:100 ;




}
.header__logo{
    margin-right: 85px;
    margin-top: 18px;
    object-fit: contain ;

}
.profile__icon{
    color: grey;
}
.profile__info{
    display: flex;
    margin-left: 50px;

}
.profile__info > h5{
    color: grey;
}